IPC_Classification_symbol.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WIPO-Classifications">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="classifications">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="classification" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="symbol"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="level" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="qTime"/>
            <xs:attribute type="xs:int" name="numFound"/>
            <xs:attribute type="xs:byte" name="elapsedTime"/>
            <xs:attribute type="xs:string" name="type"/>
            <xs:attribute type="xs:byte" name="start"/>
            <xs:attribute type="xs:byte" name="rows"/>
            <xs:attribute type="xs:byte" name="query"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

